{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "\u003e 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma":"h" }],
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
